.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
.hero p {
  width: 50%;
  text-align: center;
  line-height: 25px;
}

.hero img {
  margin-top: 30px;
}

.hero img {
  border-radius: 50%;
  width: 100%;
  max-width: 320px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 38px;
  font-weight: 800;
}

.hero h1 span {
  background: linear-gradient(270deg, #667db6 10%, #0082c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 20px 35px; 
  border-radius: 50px;
  background: linear-gradient(260deg, #667db6 -5.09%, #0082c8 100%);
  cursor: pointer;
}

.hero-connect:hover {
  background: linear-gradient(260deg, #00B4DB -5.09%, #0083B0 100%);
  border: 0px solid ;
  box-shadow: 0 4px 7px #6fbeff80;  }
/* }   box-shadow: 0 4px 7px rgba(206, 54, 54, 0.50); */


.hero-cv {
  padding: 20px 80px; 
  border-radius: 50px;
  border: 2px solid #0082c8;
  cursor: pointer;
}

.hero-cv:hover {
  box-shadow: 0 4px 7px #6fbeff80; 
  background: linear-gradient(260deg, #00B4DB -5.09%, #0083B0 100%);
}