.my-scroll {  
  margin: 0 138px;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow:hidden;
  margin-top: 7rem;
  
} 

.my-scroll .slide-track {
  display: flex;
  position: relative;
  animation: scroll 80s linear infinite;
  -webkit-animation: scroll 70s linear infinite;
  width: calc(200px  * 26);
  cursor: pointer;
}

.my-scroll .slide-track:hover {
  animation-play-state: paused;
}

.my-scroll .slide {
  width: 150px;
}

.my-scroll .slide img {
  width: 45%;
}


@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 13));
    transform: translateX(calc(-200px * 13));
  }
}

.my-scroll h1 {
  display: flex;
  /* width: 15%; */
  /* font-size: 50px; */
  /* font-weight: 600; */
  color: white;
  transition: 0.3s;
  /* cursor: pointer; */
  /* margin: 0 auto; */
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.my-scroll h1:hover {
  background:linear-gradient(270deg, #667db6 10%, #0082c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s;
}

@media (max-width: 480px) {
  .my-scroll {
    margin: 20px 30px;
  }

  .my-scroll h1 {
    font-size: 30px;
    margin: 0px auto;
    padding: 3rem;
    font-weight: 600;
  }

  .my-scroll .slide-track {
    margin: 2rem;
  }
}