.my-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 120px 170px; 
}

.my-about h1 {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 4rem;
}

.my-about h1:hover {
  background:linear-gradient(270deg, #667db6 10%, #0082c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s;
}

.about-sections {
  display: flex; 
}

.about-right .about-experience {
  display: flex;
  gap: 14px;
  margin-top: 1rem;
}

.my-about .about-left img {
  width: 17rem;
  height: 23rem;
  border-radius: 10px;
  box-shadow: 4px 0px 4px 1px #232323; 
}

.about-right p {
  padding-left: 3rem;
  /* font-size: 16px; */
  font-size:  clamp(1em, 1em + 1vw, 16px);
  font-weight: 500;
}

.about-experience .years-projects-1 {
  background-color: #202225;  
  padding: 1rem 1rem;
  margin-left: 3rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 4px #232323; 
}

.about-experience .years-projects-1 .amount-projects p {
  margin-left: -50px;
  font-size: 22px;
  gap: 20px;
  font-weight: 500;
}

.about-experience .years-projects-1 .amount-projects {
  display: flex;
  gap: 0.2rem;
}

.about-experience .years-projects-1 .amount-projects .edition {
  color: #0082c8;
} 

.about-experience .years-projects-1 .name-project .edition {
  color: #0082c8;
}

.about-experience .years-projects-1 .name-project  p {
  font-size: 17px;
  margin-left: -50px;
}


.about-experience .years-projects-2 {
  background-color: #202225;
  padding: 1rem 1rem;
  margin: 0 1.2rem;
  margin-top: 1.5rem;
  border-radius: 8px; 
  box-shadow: 0px 2px 6px 4px #232323; 
}

.about-experience .years-projects-2 .amount-projects p {
  margin-left: -50px;
  font-size: 22px;
  gap: 20px;
  font-weight: 500;
}

.about-experience .years-projects-2 .amount-projects {
  display: flex;
  gap: 0.2rem;
}

.about-experience .years-projects-2 .name-project  p{
  font-size: 17px;
  margin-left: -50px;
}

.about-experience .years-projects-2 .amount-projects .edition {
  color: #0082c8;
} 

.about-experience .years-projects-2 .name-project .edition {
  color: #0082c8;
}