.my-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 120px 170px; 
}

.my-about h1 {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 4rem;
}

.my-about h1:hover {
  background:linear-gradient(270deg, #667db6 10%, #0082c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s;
}

.about-sections {
  display: flex;
}

.about-right .about-experience {
  display: flex;
  gap: 14px;
  margin-top: 1rem;
}

.my-about .about-left img {
  width: 14rem;
  height: 20rem;
  z-index: -1;
}

.about-right p {
  padding-left: 3rem;
}

.about-experience .years-projects {
  background-color: #0082c8;
  margin-left: 3rem;
}

